﻿
@{
    Layout = null;
    int i = 1;
}

@foreach (Persona persona in Model)
{


    <tr id="fila-@persona.id" >
        <th scope="row">@i</th>
        <td >@persona.id</td>
        <td id="celdaNombre-@persona.id" >@persona.nombre</td>
        <td id="celdaDescripcion-@persona.id" >@persona.descripcion</td>

        <td><button class="btn btn-info editar" value=@persona.id id="btnEditar">Editar</button>  <button class="btn btn-danger eliminar" id="btnEliminar" value=@persona.id>Eliminar</button></td>

    </tr>

    i++;
}
