﻿
@{
}
<h1>Crear Persona</h1>
<form action="/AdminUsuario/Crear" method="post">
    <div class="form-group">
        <label for="inputNombre">Nombre</label>
        <input type="text" class="form-control" id="inputNombre" name="nombre" placeholder="Ingrese nombre" required>

    </div>
    <span class="text-danger">@Html.ValidationMessage("nombre")</span>

    <div class="form-group">
        <label for="inputDescripcion">Descripcion</label>
        <textarea class="form-control" name="descripcion" id="inputDescripcion" rows="3" required></textarea>
    </div>
    <span class="text-danger">@Html.ValidationMessage("descripcion")</span>


    <button type="submit" class="btn btn-primary">Crear</button>

</form>