﻿@{
    Layout = null;
}





<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Persona</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="editNombre">Nombre</label>
                        <input type="text" class="form-control" id="editNombre-@Model.id" value=@Model.nombre>
                    </div>

                    <div class="form-group">
                        <label for="editDesc">Descripcion</label>
                        <input type="text" class="form-control" id="editDesc-@Model.id" value=@Model.descripcion>
                    </div>
                </form>
           
            </div>
            <div class="modal-footer">
                <button value=@Model.id class="btn btn-success confirmarModal">Confirmar</button>
                <button class="btn btn-success cancelarModal">Cancelar</button>
            </div>
        </div>

    </div>
</div>